<!DOCTYPE html>
<html>
  <head>
    <title>Lureparty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP4DgWuROgK4LfXa1LJ99H9ChE-agusdc&libraries=places&callback=setupAutoComplete"
      async defer></script>

    <script type="text/javascript">
      var context = {};
      $(function() {
        Twine.reset(context).bind().refresh();
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
